@model LAB3_WEBAPP.Models.Author

@{
    Layout = "AdminLayout";
}

<h2>Confirm deletion</h2>

<div>
    <h4>@Model.FirstName</h4>
    <p>Are you sure to delete this author?</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="AuthorId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>