namespace LAB3_WEBAPP.Views.Account;

@{
    Layout = "AccountLayout";
}

<h2 style="color:red;">Access Denied</h2>
<p>You do not have permission to access this page.</p>
<p>
    <a href="@Url.Action("Index", "Home")">Return to Homepage</a>
</p>