@model LAB3_WEBAPP.Models.User

@{
    Layout = "AdminLayout";
    ViewBag.Title = "Chỉnh sửa người dùng";
}

@foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <div style="color:red">@modelError.ErrorMessage</div>
}

<h2 class="mb-4">Edit User</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label asp-for="Fullname" class="form-label"></label>
        <input asp-for="Fullname" class="form-control" />
        <span asp-validation-for="Fullname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    

    <div class="form-group mb-3">
        <label asp-for="Avatar" class="control-label">Avatar Path</label>
        <input asp-for="Avatar" class="form-control" placeholder="Filling file path (VD: images/user1.jpg)" />
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label">Activate User</label>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
