@model LAB3_WEBAPP.Models.Book.Book

@{
    Layout = "BookDetailLayout";  
}


<h2 class="text-center">Thông Tin Chi Tiết Sách</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <img src="~/images/book/@Model.CoverImage" class="img-fluid" alt="@Model.Title">
        </div>

        <div class="col-md-3" >
            <div class="card" style="border: none;">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">Tác giả: @Model.Author.FullName</p>
                    <p class="card-text">Nhà xuất bản: Giáo dục Việt Nam</p>
                    <p class="card-text">Xuất bản năm: 2003</p>
                    <p class="card-text">Giới thiệu:</p>
                    <a href="@Url.Action("ReadPdf", "Book", new { id = Model.BookId })" target="_blank" class="btn btn-primary mt-2">Đọc sách online</a>
                </div>
            </div>
        </div>
    </div>
</div>
